h3 Ingresar Productos
form(action="/productos", method="POST") 
    span Nombre 
    input(type="text", name="title", required) 
    span Precio
    input(type="number", name="price", required)
    span URL
    input(type="text", name="thumbnail", required)
    button(type="submit", name="subir") subir 